DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteRule ^ - [E=protossl]
  RewriteCond %{HTTPS} on
  RewriteRule ^ - [E=protossl:s]

  # Make sure Authorization HTTP header is available to PHP
  # even when running as CGI or FastCGI.
  RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
  # Block access to "hidden" directories whose names begin with a period.
  RewriteRule "/\.|^\.(?!well-known/)" - [F]

  # Pass all requests not referring directly to files in the filesystem to
  # index.php.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^ index.php [L]

  # Rules to correctly serve gzip compressed CSS and JS files.
  # Requires both mod_rewrite and mod_headers to be enabled.
  <IfModule mod_headers.c>
  	# Serve gzip compressed CSS files if they exist and the client accepts gzip.
  	RewriteCond %{HTTP:Accept-encoding} gzip
  	RewriteCond %{REQUEST_FILENAME}\.gz -s
  	RewriteRule ^(.*)\.css $1\.css\.gz [QSA]

  	# Serve gzip compressed JS files if they exist and the client accepts gzip.
  	RewriteCond %{HTTP:Accept-encoding} gzip
  	RewriteCond %{REQUEST_FILENAME}\.gz -s
  	RewriteRule ^(.*)\.js $1\.js\.gz [QSA]

  	# Serve correct content types, and prevent mod_deflate double gzip.
  	RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
  	RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

  	<FilesMatch "(\.js\.gz|\.css\.gz)$">
  	  # Serve correct encoding type.
  	  Header set Content-Encoding gzip
  	  # Force proxies to cache gzipped & non-gzipped css/js files separately.
  	  Header append Vary Accept-Encoding
  	</FilesMatch>
  </IfModule>
</IfModule>