#per-page .label {
  color: #999;
}
#query {
  border-radius: 10px;
  border-color: #37ba00;
}
#content {
  border-top: 1px solid #cccccc;
  border-radius: 10px;
}
h1 {
  color: #37ba00;
  padding: 5px;
  border-bottom: 1px solid #cccccc;
  border-radius: 10px;
  font-weight: 900;
}
h1 span {
  font-size: 80%;
  color: #333;
  font-weight: 100;
}
h3 {
  color: #37ba00;
}
.search-block {
  margin-bottom: 10px;
}
#message {
  color: #37ba00;
}
#navigation {
  border-bottom: 1px dashed #cccccc;
  margin-bottom: 15px;
}
#navigation-footer {
  border-top: 1px dashed #cccccc;
  margin-bottom: 15px;
}

#records {
  padding: 0;
  margin: 0;
  margin-top: 5px;
}
.record {
  margin-bottom: 15px;
}

.record h2 {
  margin-bottom: 0;
  font-weight: 200;
  font-size: 130%;
}
.record h2 .fa-book {
  color: #37ba00;
}
.record .label {
  color: #cccccc;
}
.record .similarity {
  text-align: right;
  color: #999999;
}
.record .details {
  display: none;
  margin-left: 50px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
#numFound {
  color: #37ba00;
  font-weight: 900;
}
#solr-url {
  overflow: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  color: #37ba00;
  font-size: small;
}
.tab-content {
  margin-top: 10px;
}

#completeness-group-table td {
  padding: 0 5px 0 5px;
}

#completeness-group-table {
  margin-bottom: 10px;
}

#completeness-field-table table td {
  width: 50px;
  text-align: right;
  vertical-align: top;
}

#completeness-field-table table td.path,
#completeness-field-table table td.subfield {
  text-align: left;
}


#completeness-field-table table td.subfield {
  width: 300px;
  text-overflow: ellipsis;
  font-size: 80%;
}

#completeness-field-table table td.histogram {
  width: 400px;
}

#completeness-field-table table td.number-of-record {
  width: 70px;
}

#completeness-group-table table td.chart,
#completeness-field-table table td.chart
{
  width: 200px;
}

#completeness-group-table table td.chart div,
#completeness-field-table table td.chart div
{
  background-color: #37ba00;
  height: 15px;
  border-right: 1px solid maroon;
  border-bottom: 2px solid maroon;
}
#completeness-field-table table td.package {
  text-align: left;
  color: #37ba00;
  font-weight: bold;
}
#completeness-field-table table td.tag {
  text-align: left;
  color: #37ba00;
}
#completeness-field-table table tr th,
#completeness-field-table table tr td {
  padding: 1px;
}

#completeness-field-table table tr.first th.with-border {
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

#completeness-field-table table tr.second th {
  text-align: center;
}

#completeness-field-table table tr.second th.left {
  text-align: left;
}

#completeness-field-table table tr.second th.bordered-left {
  border-left: 1px solid #cccccc;
}
#completeness-field-table table tr.second th.bordered-right {
  border-right: 1px solid #cccccc;
}

table#issues-table tr td.type {
  text-align: left;
}

table#issues-table tr td.type span.type {
  color: #37ba00;
  font-weight: bold;
}

table#issues-table {
  width: 100%;
}

table#issues-table tr td.path {
  width: 400px;
}

table#issues-table tr td.count {
  text-align: right;
  width: 100px;
}

table#issues-table tr td.url {
  width: 20px;
}

table#issues-table tr.t {
  display: none;
}

.marc-details table {
  /* font-family: Courier; */
  vertical-align: top;
}

.marc-details table tr td {
  vertical-align: top;
  font-size: 80%;
}

/*
div#myTabContent.tab-content div#issues.tab-pane.active div#issues-table-placeholder
table#issues-table thead tr th
 */

div#classifications-content table tbody tr td {
  vertical-align: top;
}

div.classification-subfields {
  display: none;
  width: 100%;
  min-width: 100%;
}

div.classification-subfields table {
  width: 100%;
  min-width: 100%;
}

div.classification-subfields table th.count {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  text-align: right;
}

div.classification-subfields table td.count {
  text-align: right;
}

div#classifications-content th.scheme {
  text-align: center;
}

div#classifications-content th.instances {
  width: 100px;
  text-align: right;
}

div#classifications-content th.records {
  width: 100px;
  text-align: right;
}

div.classification-subfields p {
  margin: 10px;
}

div.classification-subfields ul li {
  margin-left: 20px;
  list-style-type: square;
}